body{
      font-family: Arial, Helvetica, sans-serif;
      font-size: 80%;
      width: 550px;
      margin: 0 auto;
      padding: 1em;
      border: 1px solid black;
	  background-color: lavender;
	
	}

h1 {
     margin: 0;
     padding: .25em;
     color: Green;
     font-size: 180%;

}
img {
     float: right;margin: 0 1em;
	 width:250px ;
	 height:200px;
	 }

p {
     margin: 0;
     padding-bottom: .5em;
}
#service {
      color: blue;
      clear: both;
}